body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(204, 204, 204));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
}

*{
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
  color: rgb(129, 129, 129);
}

a{
  color: black;
}

.App{
  margin-top: 5px;
}
